.row
  .col-md-2
  .col-md-8(ng-controller="FriendshipsCtrl")
    %tabset(ng-init="tab = 1")
      %tab(heading="Current Friends")
        %br
        .tabclass
          %table.table.table-striped
            %tbody
              %tr(ng-repeat="friend in friends")
                %td
                  %img(ng-src="{{friend.image}}")
                %td
                  %h5
                    {{friend.email}}
                %br
      %tab(heading="Friend Requests")
        .tabclass
          %table.table.table-striped
            %tbody
              %tr(ng-repeat="request in requests")
                %td
                  %img(ng-src="{{request.image}}")
                %td
                  %h5
                    {{request.email}}
                    %a{:href => ""}(ng-click="request()") Accept Request
                %br
      %tab(heading="Users")
        .tabclass
          %table.table.table-striped
            %tbody
              %tr(ng-repeat="user in users")
                %td
                  %h4
                    {{user.email}}
                %td
                  %p Friend User

                %br
