%h4 Search for a book by it's ISBN in the text box below
%input.isbn
%br
%br
%button.btn.btn-default.search-book Search
%br
%br
.well.book-saver
  %img.pic
  %h6.title
  %h6.author
  %h6.description
  %button.btn.btn-default.show-book Book Page
  %button.btn.btn-default.save-book Save
  %button.btn.btn-warning.cancel Cancel
  %br
  %br
.test
  - @books.reverse.each do |book|
    .well
      %h1
        = link_to book.title, book
        %small by #{book.author}
      %img.cover{ src: book.image_url }
      %p= book.description
